version: '3.8'

services:
  db:
    image: mysql:8.0
    container_name: mysql-db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root_password
    ports:
      - "3307:3306"
    volumes:
      - ./scripts/init.sql:/docker-entrypoint-initdb.d/init.sql
    networks:
      - micro-network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  auth-service:
    build: ./auth-service
    container_name: auth-service
    environment:
      - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/auth_db?allowPublicKeyRetrieval=true&useSSL=false
      - SPRING_DATASOURCE_USERNAME=root
      - SPRING_DATASOURCE_PASSWORD=root_password
    depends_on:
      db:
        condition: service_healthy
    networks:
      - micro-network

#   book-service:
#     build: ./book-service
#     container_name: book-service
#     environment:
#       - SPRING_DATASOURCE_URL=jdbc:mysql://db:3306/book_db?allowPublicKeyRetrieval=true&useSSL=false
#       - SPRING_DATASOURCE_USERNAME=root
#       - SPRING_DATASOURCE_PASSWORD=root_password
#     depends_on:
#       db:
#         condition: service_healthy
#     networks:
#       - micro-network

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8080:8080"
    depends_on:
      - auth-service
 #     - book-service
    networks:
      - micro-network

networks:
  micro-network:
    driver: bridge